.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999999;
}

.bg {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80dvw;
    height: 80dvh;
    background-color: #242526;
    border-radius: 1rem;
}

.prepare {
    flex: 2;
    display: flex;
}

.apiRequest {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    padding-bottom: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.apiRequest::-webkit-scrollbar {
    display: none;
}

.apiRequest button {
    align-items: center;
    justify-content: center;
}

.itemContainer {
    padding: 0.5rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.title {
    color: #E4E6EB;
    font-size: 15px;
    text-align: left;
    min-width: 5rem;
}

.pathDesc {
    color: var(--text);
    font-size: 14px;
    font-weight: lighter;
}

.requestInfo {
    flex: 1;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.prepareInfo {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 0.5rem;
}

.prepareInfo span {
    font-size: 14px;
    color: #E4E6EB;
}

.jsonContents {
    max-height: 120px;
    padding: 1rem;
    width: 100%;
    background-color: #000;
    -ms-overflow-style: none;
    margin-bottom: 1rem;
    overflow-y: scroll;
}
.jsonContents::-webkit-scrollbar {
    display: none;
}

.name {
    font-weight: 700;
}

.query {
    font-style: italic;
}

.prepareInfo span.desc {
    font-size: 12px;
    font-weight: 400;
}

.empty {
    color: #E4E6EB;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
}

.apiDocs {
    flex: 1;
    padding: 1rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.params {
    display: flex;
    flex-direction: column;
}

.titleWrap {
    border-radius: 0.25rem;
    padding: 0.5rem;
    border: 0.5px solid rgba(255,255,255,0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleWrap .title {
    color: #E4E6EB;
    font-size: 15px;
    font-weight: bold;
}

.required {
    color: #F66551;
    font-size: 14px;
    font-weight: bold;
}

.contentsHeader {
    padding-top: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
}

.contentsHeaderName,
.contentsHeaderDesc {
    font-weight: bold;
    color: #E4E6EB;
}

.contentsHeaderName {
    min-width: 5rem;
}

.contents {
    padding-top: 4px;
    gap: 1rem;
    width: 100%;
}

.contentsDetails {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contentsDetailsValue {
    min-width: 5rem;
}

.contentsDetailsValue,
.contentsDetailsType {
    font-size: 15px;
    font-weight: 400;
}

.responses {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.responseContents {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.scrollInner {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    flex: 1;
    overflow-y: scroll;
    -ms-overflow-style: none;
    background-color: #18191A;
}

.scrollInner::-webkit-scrollbar {
    display: none;
}

.responseList {
    display: flex;
    flex-direction: column;
}

.responseListDetails {
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.responseListCode.success {
    color: #58C472;
}

.responseListCode.clientError {
    color: #F97088;
}

.responseListCode.serverError {
    color: #F23E5C;
}

.responseListDesc {
    margin-bottom: 0.5rem;
}

.response {
    flex: 1;
    height: 100%;
    padding: 1rem;
}

.responseTitle {
    color: #E4E6EB;
    font-size: 15px;
    text-align: left;
    margin-bottom: 1rem;
}

.jsonContents.response {
    height: 100%;
    min-height: 189px;
}

.jsonContentsDetails {
    max-width: 719px;
}

.noContent {
    color: #E4E6EB;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
}

.uploadButtonWrap {
    width: max-content;
    height: max-content;
    position: absolute;
    top: 6.7%;
    right: -3.8%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: #191D27;
    border-radius: 0.5rem;
    gap: 1rem;
}