.container {
    position: absolute;
    top: 14.1%;
    right: -3.5%;
    padding: 0.5rem;
    background: rgb(59, 63, 78);
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all .15s ease;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tooltip {
    position: absolute;
    width: max-content;
    background-color: #323436;
    color: white;
    border-radius: 0.5rem;
}

.tooltipWrap {
    padding: 0.25rem 0.5rem;
}

.tooltipWrap span {
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
}