.button {
    padding: 0.5rem;
    background-color: var(--textPurple);
    color: var(--text);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    align-items: center;
}

.button.manage {
    padding: 0.5rem;
    background-color: var(--textPurple);
    color: var(--text);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.iconWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}