.container {
    height: 500px;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #191D27;
    border: 1px solid var(--textSoft);
}

.title {
    font-weight: 200;
    color: var(--textSoft);
    margin-bottom: 1rem;
}

.skeletonContainer {
    width: 100%;
    height: 100%;
}
