.container {
    width: 100%;
    padding: 0 1rem 1rem 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #24324D;
    border-radius: 0.5rem;
}

.title {
    margin-bottom: 3rem;
}

.tableContainer {
    margin-top: 0.5rem;
    width: 100%;
}

.tableWrap {
    width: 100%;
    min-height: 563px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #191D27;
    border-radius: 0.5rem;
    padding: 1rem;
}

.tableWrap.noContent {
    width: 100%;
    height: 563px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableWrap table {
    border-collapse: collapse;
    table-layout: fixed;
}

.tableWrap table tr,
.tableWrap table thead {
    border-bottom: 1px solid #414B5D;
    height: max-content;
}

.tableWrap table tr:last-of-type {
    border: none;
}

.tableWrap table td,
.tableWrap table th {
    padding: 1rem 0;
    height: 100%;
    width: max-content;
    max-width: 1px;
}

.wrap table td {
    white-space: normal;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
    text-wrap: balance;
    word-wrap: break-word;
}

.bookInfo {
    display: flex;
    gap: 1rem;
}

.bookImg {
    object-fit: cover;
}

.bookInfo span {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
    font-weight: bold;
    text-wrap: balance;
}

.btnWrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tdButtonSkeleton {
    width: 21px;
    height: 21px;
}

.tdSkeleton {
    padding: 1rem;
}

.tdIconSkeleton {
    width: 100%;
    height: 21px;
}

.noContent {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: -0.01em;
    line-height: 18px;
    padding-bottom: 0.5rem;
}

.loadingIcon {
    animation: spin 1s infinite linear;
    margin-bottom: 0.25rem;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

.titleSkeleton {
    width: 2rem;
    height: 32px;
    margin-bottom: 3rem;
}

.tdSkeleton {
    padding: 1rem 0;
    height: 100%;
    width: 208px;
}

.titleSkeleton {
    width: 5rem;
    height: 2rem;
}