.form {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--divider);
    margin-bottom: 1rem;
}

.form input {
    transition: all .3s ease;
    border-radius: 0.5rem;
    flex: 1;
    padding: 0.5rem;
    background-color: var(--hover);
    color: var(--text);
}

.form input:focus {
    width: inherit;
    outline: 1px solid var(--textSoft);
}

.form input::placeholder {
    color: var(--textSoft);
}

.form label {
    min-width: 5rem;
    font-size: 16px;
    font-weight: bold;
    color: var(--textSoft);
}

.inputWrap {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.buttonWrap {
    min-width: 80px;
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.labelSkeleton {
    width: 80px;
    height: 20px;
}

.inputSkeleton {
    border-radius: 0.5rem;
    flex: 1;
    height: 20px;
}

.buttonSkeleton {
    width: 80px;
    height: 20px;
}

.select {
    flex: 1;
}

.selectList {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.selectItem {
    padding: 0.5rem 1rem;
    background-color: var(--hover);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all .15s ease;
    width: max-content;
    height: max-content;
}

.selectItem button,
.selectItem button span {
    cursor: pointer;
}

.selectItem:hover {
    background-color: #008000;
}

.active {
    background-color: #008000;
}

.buttonSkeleton {
    width: 3rem;
    height: 1rem;
}