.pointLogs {
    width: 100%;
    margin: 1rem 0px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #24324D;
    padding: 1rem;
    border-radius: 0.5rem;
}

.userPoint {
    width: 100%;
}

.userPointWrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(255,255,255,.25);
    border-radius: 0.5rem;
}

.userPointWrap:hover {
    background-color:  rgba(255,255,255,.13);
}

.userPointTexts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.userPointTexts h1 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.userPointTexts span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: right;
}