$breakpoint-sm:553px;
$breakpoint-md:740px;
$breakpoint-lg:941px;
$breakpoint-xl:1024px;
$breakpoint-2xl:1670px;

$font-dark: #000000;
$font-gray: #767676;
$font-light-gray: #595959;
$font-green: #4dac27;
$font-purple: #474C98;