@import './variables';

.score-icon,
.score-half-icon,
.score-outline-icon {
    color: $font-green;
    font-size: 21px;
}

.details-single-book {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 3rem;

    &.loading {
        margin-top: 3rem;
    }

    .text-wrap {
        margin-top: 2.1rem;
        text-align: center;
        width: 100%;
        font-size: 18px;
        line-height: 42px;
        font-weight: 700;
        letter-spacing: -0.01em;
    }

    &__comment {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5rem 0;

        p {
            color: $font-gray;
            font-weight: 400;
        }
    }
    
    &__sell-type {
        padding-top: 1.5rem;
        width: 100%;

        ul {
            width: max-content;
            height: max-content;
            margin: 0 auto;
            display: flex;
            align-items: center;

            li {
                width: 120px;
                height: 50px;
                background-color: rgba(0, 0, 0, .06);
                border-radius: 0.5rem;

                &.active {
                    background-color: white;
                    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.18);

                    button {

                        .prod-type,
                        .prod-price {
                            color: $font-purple;
                            font-weight: bold;
                        }
                    }
                }

                button {
                    cursor: pointer;
                    border: none;
                    border-radius: 0.5rem;
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .prod-type,
                    .prod-price {
                        display: block;
                        color: $font-gray;
                        font-size: 14px;
                        line-height: 22px;
                        letter-spacing: -0.01em;
                    }
                }
            }
        }
    }

    &__horizontal {
        margin-top: 1.5rem;
        width: 100%;
        display: flex;

        &__book-info {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .title {
                display: inline;
                padding-bottom: 1px;
                color: #292929;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: -0.01em;
                font-weight: bold;
                vertical-align: top;
            }

            p {
                color: #000;
                font-size: 15px;
                line-height: 23px;
                letter-spacing: -0.01em;
                font-weight: 500;
            }

            .publish {
                display: flex;
                align-items: center;

                span {
                    display: block;
                    color: #595959;
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: -0.01em;
                }
            }
        }

        &__thumbnail {
            flex: 1;

            .img-wrap {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        &__price {
            flex: 1;

            ul {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-wrap: wrap;
                gap: 4px;
                margin-bottom: 1.5rem;
            }

            &__prod-info {
                width: 100%;

                &__price-container {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 0.5rem;
                    margin-bottom: 1.5rem;

                    .discount {
                        font-size: 24px;
                        line-height: 36px;
                        letter-spacing: -0.01em;
                        font-weight: 700;
                        vertical-align: top;
                    }

                    .discounted-price {
                        color: #000;
                        font-size: 24px;
                        line-height: 36px;
                        letter-spacing: -0.01em;
                        font-weight: bold;

                        .unit {
                            font-size: 24px;
                            line-height: 36px;
                            letter-spacing: -0.01em;
                            font-weight: 500;
                        }
                    }

                    .price {
                        font-size: 14px;
                        line-height: 22px;
                        letter-spacing: -0.01em;
                        color: $font-gray;
                        text-decoration: line-through;
                    }
                }

                &__guide {
                    padding: 1rem 0;
                    padding-left: 1.5rem;
                    border-top: 1px solid rgba(0, 0, 0, 0.18);
                    width: 100%;
                    display: flex;
                    align-items: center;

                    .guide-title {
                        min-width: 99px;

                        span {
                            color: #000;
                            font-size: 14px;
                            line-height: 22px;
                            letter-spacing: -0.01em;
                            font-weight: 700;
                        }
                    }

                    .text-wrap {
                        margin: 0;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        position: relative;

                        .point-amount {
                            display: inline-block;
                            color: $font-green;
                            font-size: 15px;
                            line-height: 23px;
                            letter-spacing: -0.01em;
                            font-weight: 700;
                            vertical-align: top;
                        }

                        .icon-wrap {
                            margin-left: 0.5rem;
                            width: 22px;
                            height: 22px;
                            border-radius: 50%;
                            border: 1px solid rgba(0, 0, 0, 0.18);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            position: relative;

                            &.active {
                                transition: all .15s ease;
                                background-color: #000;
                                color: #ffffff;
                            }
                        }

                        .point-tooltip {
                            position: absolute;
                            top: 38px;
                            left: -105px;
                            background-color: #ffffff;
                            border-radius: 0.5rem;
                            border: 1px solid rgba(0, 0, 0, 0.18);
                            color: #000;
                            z-index: 999;
                            width: 374px;
                            padding: 1rem;
                            cursor: default;
                            opacity: 0;

                            &__wrap {
                                width: 100%;

                                .title {
                                    font-size: 13px;
                                    line-height: 19px;
                                    letter-spacing: -0.01em;
                                    color: #000;
                                    font-weight: bold;
                                    text-align: left;
                                }

                                .amount,
                                .desc {
                                    color: $font-gray;
                                    font-size: 12px;
                                    line-height: 18px;
                                    letter-spacing: -0.01em;
                                }

                                .default {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 0.5rem;

                                    .desc {
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;

                                        .desc-info {
                                            display: flex;
                                            align-items: center;
                                            gap: 0.5rem;
                                        }

                                        img {
                                            width: 6px;
                                            height: 6px;
                                        }
                                    }
                                }

                                .additional {
                                    padding-top: 0.5rem;
                                    margin-top: 0.5rem;
                                    border-top: 1px solid rgba(0, 0, 0, 0.12);
                                    width: 100%;

                                    .title {
                                        margin-bottom: 0.5rem;
                                    }

                                    ul {
                                        width: 100%;
                                        display: flex;
                                        flex-direction: column;
                                        align-items: start;

                                        li {
                                            width: 100%;
                                            display: flex;
                                            justify-content: space-between;
                                        }
                                    }
                                }
                            }
                        }

                        .delivery-fee {
                            color: #000;
                            font-size: 14px;
                            line-height: 22px;
                            letter-spacing: -0.01em;
                            text-align: right;
                        }

                        .delivery-tooltip {
                            position: absolute;
                            top: 38px;
                            left: -105px;
                            background-color: #ffffff;
                            border-radius: 0.5rem;
                            border: 1px solid rgba(0, 0, 0, 0.18);
                            color: #000;
                            width: 374px;
                            padding: 1rem;
                            cursor: default;
                            opacity: 0;

                            &__wrap {
                                width: 100%;

                                .heading {
                                    padding-bottom: 1rem;

                                    h1 {
                                        text-align: center;
                                        font-size: 16px;
                                        line-height: 24px;
                                        letter-spacing: -0.01em;
                                        font-weight: bold;
                                        color: #000;
                                    }
                                }

                                .title {
                                    font-size: 13px;
                                    line-height: 19px;
                                    letter-spacing: -0.01em;
                                    color: #000;
                                    font-weight: bold;
                                    text-align: left;
                                }

                                .desc {
                                    color: $font-gray;
                                    font-size: 12px;
                                    line-height: 18px;
                                    letter-spacing: -0.01em;
                                }

                                &__body {

                                    .col-item {
                                        display: flex;
                                        flex-direction: column;
                                        margin-bottom: 0.5rem;

                                        .desc {
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                        }
                                    }
                                }
                            }

                            .close-btn {
                                position: absolute;
                                top: 8px;
                                right: 8px;
                                border: none;
                                background-color: transparent;
                                cursor: pointer;

                                .close-btn-icon {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
            }

            &__box {
                width: 100%;
                display: flex;
                border: 1px solid rgba(0, 0, 0, 0.18);
                margin-bottom: 1.5rem;

                .info-text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    font-size: 13px;
                    color: #000;
                    background-color: #f7f7f7;
                    font-weight: bold;
                }

                .info-col {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    padding: 1rem;

                    i {
                        font-size: 14px;
                        font-style: normal;
                        color: #767676;
                        text-decoration: line-through;
                    }

                    p {
                        font-weight: 600;
                        font-size: 13px;
                        color: #000;
                        letter-spacing: -0.01em;
                        padding-right: 8px;
                        margin-bottom: 1rem;

                        strong,
                        em {
                            font-weight: 600;
                            font-size: 21px;
                            color: #000;
                            line-height: 30px;
                            letter-spacing: -0.01em;
                        }

                        em {
                            font-weight: 500;
                        }
                    }

                    em {
                        font-size: 13px;
                        letter-spacing: -0.13px;
                        font-style: inherit;

                        .gap {
                            margin: 0px 0.25rem;
                        }
                    }
                }
            }

            &__info-text {
                display: flex;
                width: 100%;
                text-wrap: balance;
                background-color: #F5F5FA;
                border-radius: 0.5rem;

                p {
                    font-size: 14px;
                    padding: 1rem;
                    font-weight: 500;
                    color: #474c98;
                }
            }
        }
    }
}

.details-prod-contents {
    padding: 3rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.18);
    width: 100%;

    &__horizontal {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;

        &__inner {
            flex: 3;

            &__tab-list {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-bottom: 1rem;

                h1 {
                    font-size: 20px;
                    line-height: 30px;
                    letter-spacing: -0.01em;
                    font-weight: bold;
                }

                ol {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    li {

                        &.active {

                            span {
                                color: $font-purple;
                                font-weight: bold;
                            }
                        }

                        span {
                            font-size: 14px;
                            color: $font-gray;
                            line-height: 100%;
                            cursor: pointer;
                        }
                    }

                    .divider {
                        width: 1px;
                        height: 10px;
                        background-color: #eaeaea;
                    }
                }
            }

            &__details-info {
                width: 100%;
                padding-bottom: 3rem;

                &__wrap {
                    padding: 1rem;
                    background-color: #F7F7F7;
                    border-radius: 1rem;

                    .title-wrap {
                        margin-bottom: 0.5rem;

                        p {
                            font-size: 15px;
                            line-height: 23px;
                            letter-spacing: -0.01em;
                            font-weight: bold;
                        }
                    }

                    hr {
                        border: 1px solid rgba(0, 0, 0, .06);
                        margin: 1rem 0px;
                    }

                    .intro_sub-text {
                        font-size: 14px;
                        color: #595959;
                        line-height: 22px;
                        white-space: pre-wrap;

                        &.category {
                            display: flex;
                            align-items: center;

                            .divider {
                                margin: 0.25rem;
                            }
                        }

                        &.info {
                            text-wrap: balance;
                        }
                    }
                }
            }
        }

        &__recommend-books {
            flex: 1;
            margin-left: 3rem;

            &__heading {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 1.5rem;

                h1 {
                    font-size: 20px;
                    line-height: 30px;
                    letter-spacing: -0.01em;
                    font-weight: bold;
                }

                button {
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    color: $font-gray;

                    span {
                        font-size: 13px;
                        line-height: 19px;
                        letter-spacing: -0.01em;
                        font-weight: 500;
                        text-align: left;
                    }

                    .icon-wrap {
                        margin: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 19px;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &__this-best {
                width: 100%;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    li {
                        display: flex;
                        gap: 1rem;

                        .img-wrap {
                            flex: 1;
                            padding: 0.5rem;
                            background-color: transparent;
                            border: 1px solid rgba(0, 0, 0, .12);
                            border-radius: 0.5rem;

                            img {
                                width: 100%;
                                object-fit: contain;
                                cursor: pointer;
                            }
                        }

                        .book-info {
                            flex: 2;

                            .best-flag-badge {
                                width: 20px;
                                height: 20px;
                            }

                            h3 {
                                display: block;
                                display: -webkit-box;
                                overflow: hidden;
                                max-height: 46px;
                                line-height: 23px;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 2;
                                white-space: normal;
                                word-break: break-all;
                                font-size: 15px;
                                line-height: 23px;
                                letter-spacing: -0.01em;
                                font-weight: bold;
                                margin: 0;
                                cursor: pointer;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }

                            .publish {
                                margin-bottom: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.details-author-info {
    padding: 3rem 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.18);
    width: 100%;

    &__horizontal {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;

        &__contents {
            flex: 3;

            h1 {
                font-size: 20px;
                line-height: 30px;
                letter-spacing: -0.01em;
                font-weight: bold;
                margin-bottom: 1rem;
            }

            &__inner {
                padding: 1rem;
                background-color: #F7F7F7;
                border-radius: 1rem;

                .title-wrap {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 1rem;

                    .author-name {

                        span {
                            color: $font-gray;

                            &:first-child {
                                margin-right: 0.25rem;
                            }

                            &:last-child {
                                color: #000;
                            }
                        }
                    }

                    button {
                        border: 1px solid rgba(0, 0, 0, .18);
                        background-color: #ffffff;
                        padding: 0.25rem 0.5rem;
                        border-radius: 0.25rem;
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        cursor: pointer;
                        transition: all .15s ease;

                        .icon {
                            margin-right: 4px;
                            font-size: 16px;
                        }

                        &:hover {
                            background-color: rgba(0, 0, 0, .02);
                        }
                    }
                }

                .tag-box-wrap {
                    margin-bottom: 1rem;
                    padding: 0 0.25rem;
                }

                p {
                    font-size: 14px;
                    color: #595959;
                    line-height: 22px;
                    text-wrap: balance;
                    margin-bottom: 0.5rem;
                }

                ul {
                    margin-top: 1.5rem;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    li {
                        width: 120px;
                        margin-right: 0.5rem;
                        display: flex;
                        flex-direction: column;
                        gap: 0.25rem;
                        cursor: pointer;

                        .img-wrap {
                            width: 100%;

                            img {
                                width: 100%;
                                object-fit: contain;
                            }
                        }

                        p {
                            font-size: 13px;
                            white-space: normal;
                            word-break: break-all;
                            line-height: 23px;
                            letter-spacing: -0.01em;
                            font-weight: bold;
                            color: #000;
                        }
                    }
                }
            }
        }

        &__ref-authors {
            flex: 1;
            margin-left: 3rem;

            &__col {
                display: flex;
                flex-direction: column;

                &__heading {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 1.5rem;

                    h1 {
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: -0.01em;
                        font-weight: bold;
                    }

                    button {
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        color: $font-gray;

                        span {
                            font-size: 13px;
                            line-height: 19px;
                            letter-spacing: -0.01em;
                            font-weight: 500;
                            text-align: left;
                        }

                        .icon-wrap {
                            margin: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 19px;
                        }

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    li {
                        width: 100%;
                        border-radius: 0.5rem;
                        padding: 0.5rem;
                        transition: all .15s ease;

                        &:hover {
                            background-color: rgba(0, 0, 0, .06);
                        }

                        .link {
                            display: flex;
                            gap: .5rem;

                            .img-wrap {

                                img {
                                    width: 84px;
                                    height: 84px;
                                    border-radius: 50%;
                                    object-fit: cover;
                                }
                            }

                            .info-col {
                                flex: 1;

                                span,
                                p {
                                    line-height: 23px;
                                    letter-spacing: -0.01em;
                                }

                                span {
                                    font-size: 15px;
                                    font-weight: 700;
                                }

                                p {
                                    font-size: 13px;
                                    color: $font-gray;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.details-prod-reviews {
    padding: 3rem 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.18);
    width: 100%;

    &__wrap {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        &__heading {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;

            .title-wrap {
                display: flex;
                align-items: center;
                position: relative;

                h1 {
                    font-size: 20px;
                    line-height: 30px;
                    letter-spacing: -0.01em;
                }

                .icon-wrap {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    margin: 0;
                    margin-left: 0.5rem;
                    padding-top: 0.25rem;

                    .icon {
                        font-size: 24px;
                        color: rgba(0, 0, 0, .51);
                    }
                }
            }

            button {
                padding: 0.5rem 1rem;

                img {
                    width: 13px;
                    height: 19px;
                }

                span {
                    font-size: 13px;
                    line-height: 19px;
                    letter-spacing: -0.01em;
                }
            }
        }

        &__reviews-total {
            width: 100%;

            &__inner {
                display: flex;
                padding: 1rem 0.5rem;
                border: 1px solid rgba(0, 0, 0, .18);
                border-radius: 0.5rem;
                background-color: rgba(0, 0, 0, .03);

                .review-box {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    &.total-rating {
                        border-right: 1px solid rgba(0, 0, 0, .12);
                    }

                    &__user-score {
                        display: flex;
                        align-items: center;
                        flex-direction: column;

                        &__title {
                            margin-bottom: 0.25rem;
                            font-size: 15px;
                            line-height: 23px;
                            letter-spacing: -0.01em;
                            font-weight: bold;
                        }

                        .user-score__total {
                            margin-top: 0.25rem;
                            margin-bottom: 1.25rem;
                            display: flex;
                            align-items: center;
                            gap: 0.25rem;

                            .score-icons {
                                display: flex;
                                align-items: center;
                            }

                            .score-texts {

                                span {
                                    color: $font-gray;
                                    line-height: 1;
                                    letter-spacing: -.01em;

                                    strong {
                                        color: $font-green;
                                        font-size: 20px;
                                        line-height: 1;
                                        letter-spacing: -.01em;
                                    }
                                }
                            }
                        }
                    }

                    &__score-bar {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &__vertical {
                            width: 50%;

                            &__item {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                gap: 0.25rem;
                                margin-bottom: .5rem;

                                .icons {
                                    display: flex;
                                    align-items: center;

                                    .score-icon,
                                    .score-half-icon,
                                    .score-outline-icon {
                                        font-size: 18px;
                                    }
                                }

                                .fill-bar {
                                    flex: 1;
                                    height: 4px;
                                    position: relative;

                                    .bg {
                                        width: 100%;
                                        height: 100%;
                                        background-color: rgba(0, 0, 0, .12);
                                    }

                                    .fill {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        height: 100%;
                                        z-index: 999;
                                        background: $font-green;
                                    }
                                }

                                .text {
                                    width: 27px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-end;

                                    span {
                                        font-size: 13px;
                                        line-height: 19px;
                                        letter-spacing: -0.01em;
                                    }
                                }
                            }
                        }
                    }

                    &__review-keywords {
                        text-align: center;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: -0.01em;
                        margin-bottom: 1.5rem;

                        span {
                            color: $font-light-gray;
                            font-weight: 500;

                            strong {
                                color: $font-purple;
                            }
                        }
                    }

                    &__review-keywords-bar {
                        width: 100%;
                        height: 100%;

                        &__keyword-list {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100%;

                            .keyword-item {
                                margin-left: 1rem;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                height: 100%;
                                gap: 0.5rem;

                                &__pert {
                                    padding-top: 0;
                                    background-color: rgba(80, 85, 177, 0.8);
                                    color: #fff;
                                    font-weight: 500;
                                    height: 19px;
                                    padding: 0 7px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 0.25rem;

                                    span {
                                        font-size: 13px;
                                        line-height: 19px;
                                        letter-spacing: -0.01em;
                                    }
                                }

                                &__score-bar {
                                    flex: 1;
                                    width: 6px;
                                    position: relative;

                                    .bg {
                                        height: 100%;
                                        background-color: rgba(0, 0, 0, .18);
                                        width: 100%;
                                    }

                                    .fill {
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        z-index: 999;
                                        width: 100%;
                                        background-color: #7175BF;
                                    }
                                }

                                &__keyword {
                                    font-size: 12px;
                                    line-height: 18px;
                                    letter-spacing: -0.01em;
                                }
                            }
                        }
                    }
                }
            }
        }

        &__reviews-details {
            width: 100%;
            padding-top: 3rem;

            .divider {
                display: inline-block;
                font-size: 0;
                width: 1px;
                height: 9px;
                background-color: #d5d5d5;
                margin: 6px 6px 0 8px;
                vertical-align: top;
                box-sizing: border-box;
            }

            .reviews-sort-tab-list {
                width: 100%;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid rgba(0, 0, 0, .12);

                .tab-list-buttons {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    button {
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                        border-bottom: 2px solid transparent;
                        transition: all .3s ease;
                        padding: 0.5rem;

                        span {
                            font-size: 14px;
                            line-height: 22px;
                            letter-spacing: -0.01em;
                            color: $font-gray;
                        }

                        &.active {
                            border-bottom: 2px solid #000;

                            span {
                                font-weight: bold;
                                color: #000;
                            }
                        }
                    }
                }
            }

            .reviews-list {
                scroll-behavior: smooth;

                ul {
                    padding: 1rem 0.5rem;

                    .review-list__item {
                        width: 100%;
                        margin-bottom: 1rem;
                        padding-bottom: 1rem;
                        border-bottom: 1px solid rgba(0, 0, 0, .12);

                        &__review-info {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 1rem;

                            &__left {
                                display: flex;
                                align-items: center;

                                span {
                                    font-size: 12px;
                                    line-height: 18px;
                                    letter-spacing: -0.01em;
                                    vertical-align: top;

                                    &.report {
                                        cursor: pointer;

                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }
                                }

                                .info-badge {
                                    padding: 3px 7px;
                                    border-radius: 1rem;
                                    background-color: #E7E7FD;
                                    color: $font-gray;
                                    margin-right: 0.5rem;

                                    span {
                                        font-weight: 500;
                                        font-size: 12px;
                                    }
                                }
                            }

                            &__right {
                                display: flex;
                                align-items: center;

                                .score-icons {
                                    display: flex;
                                    align-items: center;

                                    .score-icon,
                                    .score-half-icon,
                                    .score-outline-icon {
                                        font-size: 16px;
                                    }
                                }

                                span {
                                    color: #474c98;
                                    font-size: 14px;
                                    line-height: 22px;
                                    letter-spacing: -0.01em;
                                    font-weight: bold;
                                    vertical-align: top;
                                }
                            }
                        }

                        &__review-desc {
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;
                            width: 100%;
                            margin-bottom: 0.5rem;

                            span {
                                color: #000;
                                font-size: 14px;
                                letter-spacing: -.01em;
                                text-wrap: balance;
                                white-space: normal;
                                word-break: break-all;
                            }
                        }

                        &__review-interact {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;

                            span {
                                font-size: 13px;
                                line-height: 19px;
                                letter-spacing: -0.01em;
                                color: rgba(0, 0, 0, .72);
                            }

                            .like-section {
                                display: flex;
                                align-items: center;
                                cursor: pointer;
                                margin-right: 0.5rem;

                                .icon {
                                    color: rgba(0, 0, 0, .24);
                                }
                            }

                            .reply-section {
                                display: flex;
                                align-items: center;
                                cursor: pointer;

                                img {
                                    width: 20px;
                                }
                            }
                        }

                        &__review-replies {
                            margin-top: 1rem;
                            padding-top: 0.75rem;
                            border-top: 1px solid rgba(0, 0, 0, .12);
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;

                            &__bg {
                                width: 100%;
                                padding: 1rem;
                                border-radius: 1rem;
                                background-color: rgba(0, 0, 0, .04);

                                .reply-form-no-auth {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 0.5rem;

                                    span {
                                        color: $font-gray;
                                        font-size: 14px;
                                        line-height: 22px;
                                        letter-spacing: -0.01em;
                                        vertical-align: top;
                                        font-weight: bold;
                                    }

                                    button {
                                        display: flex;
                                        align-items: center;
                                        background-color: #fff;
                                        border: 1px solid #d5d5d5;
                                        cursor: pointer;

                                        .icon {
                                            color: $font-gray;
                                        }
                                    }
                                }
                            }

                            .reply-item {
                                display: flex;
                                flex-direction: column;
                                gap: 0.5rem;
                                margin-top: 0.5rem;

                                &__reply-info {
                                    display: flex;
                                    align-items: center;

                                    .icon-wrap {
                                        width: 8px;
                                        height: 9px;
                                        margin-right: 0.25rem;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;

                                        img {
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }

                                    span {
                                        font-size: 12px;
                                        line-height: 18px;
                                        letter-spacing: -0.01em;
                                        vertical-align: top;
                                        color: $font-gray;
                                    }
                                }

                                &__desc {
                                    padding: 0.5rem;
                                    background-color: rgba(0, 0, 0, .04);
                                    width: max-content;
                                    border-radius: 0.25rem;

                                    span {
                                        color: #000;
                                        font-size: 14px;
                                        line-height: 22px;
                                        letter-spacing: -0.01em;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .reviews-pagination {
                width: 100%;
                max-width: max-content;
                margin: 0 auto;
                display: flex;
                align-items: center;

                &__arrow-btn {
                    background-color: transparent;
                    border: 1px solid rgba(0, 0, 0, .24);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    padding: 0.25rem;

                    &.disabled {
                        cursor: default;
                    }

                    .icon {
                        font-size: 19px;
                    }

                    &.left {
                        margin-right: 0.5rem;
                    }

                    &.right {
                        margin-left: 0.5rem;
                    }
                }

                &__page-num {
                    border: none;
                    background-color: transparent;
                    font-size: 13px;
                    line-height: 1;
                    letter-spacing: -0.01em;
                    color: #767676;
                    border-radius: 12px;
                    width: max-content;
                    height: 24px;
                    cursor: pointer;

                    &.gap {
                        margin-right: 0.25rem;
                    }

                    &.active {
                        font-weight: bold;
                        background-color: #767676;
                        color: #fff;
                    }
                }

                .text-ellipsis {
                    display: inline-block;
                    text-align: center;
                    vertical-align: top;
                    box-sizing: border-box;
                    width: 10px;
                    height: 2px;
                    margin: -3px 8px;
                }
            }
        }
    }
}

.details-faq {
    width: 100%;
    padding-bottom: 5rem;

    &__heading {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, .86);

        .title-wrap {

            h1 {
                font-size: 20px;
                line-height: 30px;
                letter-spacing: -0.01em;
            }
        }

        .btns-wrap {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }

    &__list {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        ul {
            width: 100%;
            display: flex;
            flex-direction: column;

            li {
                width: 66%;
                padding-bottom: 1rem;
                border-bottom: 1px solid rgba(0, 0, 0, .12);

                h3 {
                    font-size: 15px;
                    line-height: 23px;
                    letter-spacing: -0.01em;
                    margin: 1rem 0px;
                }

                p {
                    font-size: 15px;
                    line-height: 23px;
                    letter-spacing: -0.01em;
                }
            }
        }
    }
}

.fixed-purchase-shortcut {
    position: fixed;
    bottom: 0;
    z-index: 99999;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, .24);
    background-color: #ffffff;

    &__wrap {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-area {
            display: flex;
            align-items: center;
            gap: 1rem;

            .info-title {
                display: inline-block;
                font-size: 15px;
                line-height: 23px;
                letter-spacing: -0.01em;
                vertical-align: top;
            }

            .info-price {
                display: flex;
                align-items: center;

                .price,
                .unit {
                    font-size: 24px;
                    line-height: 36px;
                    letter-spacing: -0.01em;
                }

                .price {
                    font-weight: 700;
                    margin-right: 1px;
                }
            }
        }

        .right-area {
            flex: 1;

            .buttons-wrap {
                width: max-content;
                margin-left: auto;
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }
    }
}

.fixed-details-tab-list {
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, .24);
    background-color: #ffffff;

    ul {
        width: 100%;
        height: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 3rem;

        li {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #767676;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.01em;
            font-weight: 400;
            transition: all 0.3s ease-out;
            cursor: pointer;

            &.active {
                font-weight: bold;
                color: #000;
                border-bottom: 3px solid #000;
            }
        }
    }
}