.fixed-seen-books {
    position: fixed;
    bottom: 10%;
    right: 1.5%;
    z-index: 999;

    &__wrap {
        position: relative;

        .img-wrap {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
            border: 1.5px solid rgba(0, 0, 0, .72);
            box-sizing: border-box;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .text-wrap {
            cursor: pointer;
            position: absolute;
            top: -3px;
            right: -3px;
            display: block;
            min-width: 20px;
            height: 20px;
            padding: 2px 2px 0 3px;
            border-radius: 100%;
            background-color: #5055b1;
            font-size: 11px;
            color: #fff;
            text-align: center;
            box-sizing: border-box;
            font-weight: bold;
        }
    }
}