@import "./mixin";

.news-letter {
    background-color: #F7F7F7;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    span {
        font-weight: bold;
        font-size: 15px;
        text-decoration: underline;
        cursor: pointer;
        padding-right: 1.5rem;
    }
}

.home-nav {
    box-sizing: border-box;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2.5rem;

    &__logo {
        width: max-content;
        height: 3rem;
        display: flex;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        h1 {
            font-size: 1.5rem;
            text-transform: uppercase;
            transition: 700ms ease;
            letter-spacing: -1px;
            color: #393E46;
            outline: none;
            text-align: center;
            cursor: pointer;
        }
    }

    &__gnb {
        flex: 1;
        height: 3rem;
        display: flex;
        justify-content: center;
        margin-left: 12rem;
        padding-top: 1rem;

        &__wrap {
            display: flex;
            align-items: center;
            gap: 10px;

            li {
                width: 4rem;
                height: 2.5rem;

                .home-nav__gnb__wrap__link {
                    background-color: transparent;
                    outline: none;
                    cursor: pointer;
                    border: none;
                    color: #717171;
                    padding: 10px 5px;
                    border-radius: .5rem;
                    transition: all .15s ease;
                    font-size: 17px;

                    &:hover {
                        background-color: #F7F7F7;
                        color: #222222;
                    }
                }
            }
        }
    }

    &__user {
        display: flex;
        align-items: center;

        &__marketing {
            padding: 8px 12px;
            color: #222222;
            font-weight: bold;
            border-radius: 0.5rem;
            cursor: pointer;

            &:hover {
                background-color: #F7F7F7;
            }
        }

        &__icon {
            padding: 8px 12px;
            margin-right: 0.5rem;
            cursor: pointer;
            border-radius: 0.5rem;

            &:hover {
                background-color: #F7F7F7;
            }
        }

        &__session {
            display: flex;
            align-items: center;

            &__button {
                border: none;
                border-radius: 0.5rem;
                cursor: pointer;
                outline: .5px solid #DDDDDD;
                transition: all .15s ease;

                &__wrapper {
                    padding: 8px 8px 8px 14px;
                    display: flex;
                    align-items: center;

                    img {
                        width: 24px;
                        height: 24px;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    &__icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:first-child {
                            margin-right: 0.5rem;
                        }

                        &:last-child {
                            margin-left: 0.5rem;
                        }
                    }
                }

                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px -3px;
                }
            }
        }
    }
}

.home-nav-fixed {
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: .5px solid #DDDDDD;
    z-index: 99999;
    
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 3rem;
        background-color: #ffffff;

        ol {
            display: flex;
            align-items: center;
            gap: 2rem;

            li {

                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                p {
                    margin: 0;
                    font-size: 12px;
                    color: #717171;
                    font-weight: bold;
                    margin-top: 0.5rem;
                }
            }
        }
    }
}

@include sm {
    .news-letter {
        display: none;
    }

    .home-nav {
        display: none;
    }
}

@include md {
    .news-letter {

        span {
            margin-right: 0;
        }
    }

    .home-nav__user__marketing {
        display: none;
    }

    .home-nav__gnb {
        margin-left: 3rem;
    }
}

@include lg {
    .home-nav__user__marketing {
        text-wrap: balance;
        text-align: center;
    }
}