@import 'home';
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.link {
    text-decoration: none;
    color: inherit;
}

body,
#root {
    width: 100dvw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}