@import 'home';
@import 'search';
@import 'recommend-gnb';
@import 'recommend-books';
@import 'banner.scss';
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body,
#root {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

p,
h1 {
    margin: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}