@import "./variables";

#register-page {
    width: 100%;
    height: 100vh;
    flex-direction: column;

    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 6rem;
    }

    main {
        width: 100%;
        max-width: 100%;
        height: calc(100% - 192px);
        margin: 0;
        padding: 0;

        section {
            width: 100%;
            height: 100%;
            padding-top: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            .register-heading {
                width: 100%;
                max-width: 400px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 1rem;
                border-bottom: 2px solid #000;

                .title-wrap {

                    h1 {
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: -0.01em;
                    }
                }

                .form-state {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    .icon-wrap {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        background: #d5d5d5;
                        border-radius: 100%;
                        box-sizing: border-box;
                        text-align: center;
                        font-size: 0;
                        vertical-align: middle;

                        &.active {
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            background-color: $font-green;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #fff;
                            font-size: 13px;
                            line-height: 19px;
                            letter-spacing: -0.01em;
                            font-weight: bold;
                        }
                    }
                }
            }

            .register-page__phone-verification {
                width: 100%;
                max-width: 400px;
                display: flex;
                flex-direction: column;

                h2 {
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.01em;
                }

                &__btns {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    button {
                        flex: 1;
                        height: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap: 0.25rem;
                        border: 1px solid rgba(0, 0, 0, .24);
                        background-color: transparent;
                        border-radius: 0.25rem;
                        cursor: pointer;

                        .img-wrap {
                            width: 36px;
                            height: 36px;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }

            .register-page__register-form {
                display: flex;
                flex-direction: column;
                padding-top: 1.5rem;

                label {
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.01em;
                    font-weight: 600;
                    margin-bottom: 0.25rem;
                }

                input {
                    width: 100%;
                    border: 1px solid rgba(0, 0, 0, .24);
                    border-radius: 0.25rem;
                    padding: 0.5rem;
                    margin-bottom: 0.5rem;
                    outline: none;

                    &:focus {
                        outline: .5px solid $font-green;
                    }
                }

                &__email-form {
                    width: 400px;
                    display: flex;
                    flex-direction: column;

                    .email-verification-prepare {
                        display: flex;
                        flex-direction: column;

                        .horizontal {
                            display: flex;
                            align-items: center;
                            gap: 1.5rem;
                            margin-bottom: .5rem;
                        }
                    }

                    .email-verification-complete {
                        display: flex;
                        align-items: center;
                        flex-direction: column;

                        .main-wrap {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            gap: 1.5rem;
                        }

                        p {
                            margin: 0;
                            font-size: 13px;
                            line-height: 19px;
                            letter-spacing: -0.01em;
                            color: $font-light-gray;
                            font-weight: bold;
                            margin-bottom: 1.5rem;
                        }
                    }
                }

                .register-sm-btn {
                    margin-bottom: 0.5rem;
                    width: 160px;
                    height: 33px;
                    border: none;
                    background-color: transparent;
                    border-radius: 0.25rem;
                    border: 1px solid rgba(0, 0, 0, .24);
                    color: $font-light-gray;
                    font-weight: bold;
                    cursor: pointer;
                    font-size: 12px;
                }

                .register-submit-btn {
                    width: 100%;
                    padding: 0.5rem;
                    margin-top: 1rem;
                    border: none;
                    background-color: $font-green;
                    color: #fff;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.01em;
                    font-weight: bold;
                    cursor: pointer;
                    border-radius: 0.25rem;
                }
            }
        }
    }
}

.warn {
    margin: 0;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #ec1f2d;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
}