.kor-gnb {
    width: 100%;
    padding-top: 1.5rem;

    &__horizontal {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &__default {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            img {
                width: 4px;
                height: 8px;
            }

            &__show {
                position: relative;
                cursor: pointer;
                transition: all .3s ease;

                .text-wrap {
                    padding-bottom: 0.25rem;
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;

                    .icon-wrap {
                        margin: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        border: 1px solid rgba(0, 0, 0, .24);
                        transition: all .15s ease;
                    }

                    span {
                        font-size: 14px;
                        line-height: 19px;
                        letter-spacing: -0.01em;
                        color: #767676;
                        font-weight: normal;
                    }

                    &:hover {

                        .icon-wrap {
                            border-color: rgba(0, 0, 0, .48);
                        }
                    }
                }

                ol {
                    opacity: 0;
                    transition: all .3s ease;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    z-index: 99999;
                    background-color: #ffffff;
                    border: 1px solid rgba(0, 0, 0, .24);
                    border-radius: 0.5rem;

                    li {
                        padding: 0.5rem;
                        width: 132px;
                        transition: all .3s ease;

                        span {
                            font-size: 13px;
                            line-height: 19px;
                            letter-spacing: -0.01em;
                            color: #767676;
                            transition: all .3s ease;
                        }

                        &:hover {
                            background: rgba(0, 0, 0, .04);

                            span {
                                font-weight: bold;
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}

main {
    padding-top: 1.5rem;
    padding-bottom: 4.5rem;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

    .side-nav-bar {
        flex: 2;
        position: sticky;
        top: 86px;
        padding-bottom: 3rem;
        height: max-content;

        .title {

            h1 {
                font-size: 30px;
                line-height: 40px;
                letter-spacing: -0.01em;
            }
        }

        &__col-container {
            margin-top: 1.5rem;

            ol {
                display: flex;
                flex-direction: column;
                justify-self: flex-start;
                gap: 0.5rem;

                li {
                    width: 100%;
                    cursor: pointer;

                    span {
                        font-size: 14px;
                        line-height: 22px;
                        letter-spacing: -0.01em;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    section {
        flex: 8;
        display: flex;
        flex-direction: column;

        .ad-banner {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 1000px;
            position: relative;

            &__container {
                width: 100%;
                border-radius: 1rem;
                overflow: hidden;

                &__horizontal {
                    width: 100%;
                    display: flex;
                    align-items: center;

                    li {
                        width: 100%;

                        img {
                            width: 1000px;
                            object-fit: cover;
                        }
                    }
                }
            }

            &__tab-info {
                width: 100%;

                ol {
                    display: flex;
                    align-items: center;

                    li {
                        flex: 1;
                        text-align: center;
                        padding: 0.5rem 0.25rem;
                        border-bottom: 2px solid rgba(0, 0, 0, .18);
                        cursor: pointer;
                        transition: all .45s ease;

                        span {
                            font-size: 14px;
                            line-height: 22px;
                            letter-spacing: -0.01em;
                            font-weight: bold;
                        }

                        &.active {
                            border-bottom: 2px solid rgba(0, 0, 0, .48);
                        }
                    }
                }
            }

            .left,
            .right {
                position: absolute;
                z-index: 99999;
                width: 44px;
                height: 44px;
                background-position: center;
                background-repeat: no-repeat;
                background-color: rgba(0, 0, 0, 0.3);
                background-size: 44px 44px;
                transition: opacity 0.23s;
                border-radius: 100%;
                z-index: 2;
                box-sizing: border-box;
                border: none;
                color: #ffffff;
                font-size: 19px;
                cursor: pointer;

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .left {
                left: 11px;
                top: 35%;
            }

            .right {
                right: 11px;
                top: 35%;
            }
        }

        .lang-page-picks {
            margin-top: 3rem;
            display: flex;

            &__today {
                flex: 2;

                &__vertical {
                    display: flex;
                    flex-direction: column;

                    .text-wrap {
                        padding-bottom: 0.75rem;

                        h1 {
                            font-size: 20px;
                            line-height: 30px;
                            letter-spacing: -0.01em;
                        }
                    }

                    &__single-book {
                        width: 100%;
                        padding-top: 0.5rem;
                        padding-bottom: 3rem;

                        &__horizontal {
                            display: flex;
                            gap: 1rem;

                            .img-wrap {
                                flex: 1;

                                img {
                                    width: 100%;
                                    max-height: 314px;
                                    object-fit: contain;
                                }
                            }

                            &__book-info {
                                flex: 2;

                                .title {
                                    margin-top: 1rem;
                                    font-weight: bold;
                                    font-size: 20px;
                                    line-height: 30px;
                                    letter-spacing: -0.01em;
                                }

                                .author {
                                    color: $font-light-gray;
                                    font-weight: bold;
                                    max-height: 44px;
                                    white-space: normal;
                                    word-break: break-all;
                                    margin-top: 0.5rem;
                                }

                                &__price-texts {
                                    display: flex;
                                    align-items: center;
                                    margin-top: 1rem;

                                    .discount {
                                        margin-right: 0.5rem;
                                        color: $font-green;
                                        font-weight: bold;
                                        vertical-align: top;
                                    }

                                    .price,
                                    .unit {
                                        font-size: 1rem;
                                        line-height: 1.5rem;
                                        letter-spacing: -.01em;
                                    }
                                }

                                .comment {
                                    margin-top: 1rem;
                                    color: #474C98;

                                    span {
                                        vertical-align: top;
                                        display: flex;
                                        align-items: center;
                                        gap: 2.1px;
                                        font-weight: bold;
                                    }
                                }

                                .desc {
                                    margin-top: 1rem;
                                    color: $font-light-gray;
                                    white-space: normal;
                                    word-break: break-all;
                                    font-weight: bold;
                                }
                            }
                        }
                    }

                    &__preview {
                        width: 666px;
                        overflow: hidden;
                        padding: 1.5rem 1px 1px 1px;
                        border-top: 1px solid rgba(0, 0, 0, .24);

                        ul {
                            width: 666px;
                            display: flex;
                            align-items: center;
                            gap: 1rem;

                            li {
                                width: 120px;
                                cursor: pointer;
                                transition: all .3s ease;

                                .img-wrap {
                                    width: 120px;

                                    img {
                                        width: 100%;
                                    }
                                }

                                &.active {
                                    outline: 1px solid rgba(0, 0, 0, .72);
                                }
                            }
                        }
                    }

                    &__slide-btn {
                        padding-top: 1.5rem;
                        display: flex;
                        align-items: center;

                        .process {
                            flex: 1;
                            display: flex;
                            align-items: center;

                            .fill {
                                transition: all .15s ease;
                                width: 10%;
                                background-color: rgba(0, 0, 0, .72);
                                height: 2px;
                                z-index: 99999;
                            }

                            .bg {
                                flex: 1;
                                background-color: rgba(0, 0, 0, .24);
                                height: 2px;
                            }
                        }

                        .left,
                        .right {
                            width: 34px;
                            height: 34px;
                            border-radius: 50%;
                            border: .5px solid rgba(0, 0, 0, .24);
                            background-color: transparent;
                            cursor: pointer;
        
                            span {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 21px;
                            }
                        }

                        .left {
                            margin-left: 1rem;
                        }

                        .right {
                            margin-left: 0.5rem;
                        }
                    }
                }
            }

            &__best {
                flex: 1;
                padding-left: 2rem;

                &__container {

                    &__heading {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: 1.5rem;

                        .text-wrap {
    
                            h1 {
                                font-size: 20px;
                                line-height: 30px;
                                letter-spacing: -0.01em;
                            }
                        }

                        .more-vert {
                            display: flex;
                            align-items: center;
                            cursor: pointer;

                            span {
                                color: #595959;
                                font-size: 13px;
                                line-height: 19px;
                                letter-spacing: -0.01em;
                                font-weight: 700;
                                text-align: left;
                                text-decoration: underline;
                            }

                            .icon-wrap {
                                margin-left: 0;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: #595959;
                            }
                        }
                    }

                    &__book-list {
                        display: flex;
                        flex-direction: column;

                        &__prod {
                            width: 100%;

                            ul {
                                display: flex;
                                flex-direction: column;
                                gap: 1rem;

                                li {
                                    display: flex;
                                    gap: 1rem;

                                    .img-wrap {
                                        flex: 1;

                                        img {
                                            width: 100%;
                                            object-fit: contain;
                                            cursor: pointer;
                                        }
                                    }

                                    .book-info {
                                        flex: 2;

                                        .best-flag-badge {
                                            width: 20px;
                                            height: 20px;
                                        }

                                        h3 {
                                            display: block;
                                            display: -webkit-box;
                                            overflow: hidden;
                                            max-height: 46px;
                                            line-height: 23px;
                                            -webkit-box-orient: vertical;
                                            -webkit-line-clamp: 2;
                                            white-space: normal;
                                            word-break: break-all;
                                            font-size: 15px;
                                            line-height: 23px;
                                            letter-spacing: -0.01em;
                                            font-weight: bold;
                                            margin: 0;
                                            cursor: pointer;

                                            &:hover {
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &__other-books {
                            margin-top: 2rem;
                            padding-top: 1rem;
                            border-top: 1px solid rgba(0, 0, 0, .12);
                            width: 100%;

                            ul {
                                width: 100%;
                                display: flex;
                                flex-direction: column;

                                li {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    cursor: pointer;

                                    .text-wrap {
                                        display: flex;
                                        align-items: center;
                                        gap: 0.5rem;

                                        .best-flag-badge {
                                            width: 20px;
                                            height: 20px;
                                        }
    
                                        .span-wrap {
                                            padding-bottom: 0.75rem;

                                            span {
                                                display: inline-block;
                                                max-width: 100%;
                                                height: auto;
                                                max-height: none;
                                                -webkit-box-orient: inherit;
                                                -webkit-line-clamp: inherit;
                                                text-overflow: ellipsis;
                                                white-space: nowrap;
                                                font-size: 13px;
                                                line-height: 19px;
                                                letter-spacing: -0.01em;
                                                font-weight: bold;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .trend-search-term {
            margin-top: 3rem;

            .text-wrap {

                h1 {
                    font-size: 20px;
                    line-height: 30px;
                    letter-spacing: -0.01em;
                }
            }

            &__container {
                width: 100%;
                padding-top: 1.5rem;

                &__wrapper {
                    padding: 2rem;
                    background-color: rgba(0, 0, 0, .04);
                    border-radius: 1rem;

                    ul {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 0.5rem;

                        li {
                            width: max-content;
                            background-color: #ffffff;
                            padding: 0.5rem 1rem;
                            border-radius: 0.5rem;
                            border: 1px solid rgba(0, 0, 0, .18);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;

                            span {
                                display: inline-block;
                                font-size: 13px;
                                line-height: 19px;
                                letter-spacing: -0.01em;
                                color: #595959;
                            }
                        }
                    }
                }
            }
        }

        .new-books {
            margin-top: 3rem;
            width: 100%;

            .text-wrap {
                margin-bottom: 1rem;

                h1 {
                    font-size: 20px;
                    line-height: 30px;
                    letter-spacing: -0.01em;
                    margin: 0;
                }
            }

            &__book-list {
                width: 100%;

                ul {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    li {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .img-wrap {
                            width: 140px;
                            cursor: pointer;

                            img {
                                width: 100%;
                                object-fit: contain;
                            }
                        }

                        h3 {
                            display: block;
                            display: -webkit-box;
                            overflow: hidden;
                            max-height: 46px;
                            line-height: 23px;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            white-space: normal;
                            word-break: break-all;
                            font-size: 15px;
                            line-height: 23px;
                            letter-spacing: -0.01em;
                            font-weight: bold;
                            margin: 0.25rem 0;
                            cursor: pointer;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

.publish {
    display: flex;
    align-items: center;

    span {
        color: #595959;
        display: block;
        margin-top: 5px;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: -0.01em;
        display: block;
        display: -webkit-box;
        overflow: hidden;
        max-height: 38px;
        line-height: 19px;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        white-space: normal;
        word-break: break-all;
    }
}

.discount {
    display: inline-block;
    margin-right: 3px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-weight: 700;
    color: #4dac27;
    vertical-align: top;
}

.price,
.unit {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
}

.price {
    font-weight: bold;
}