.kor-gnb {
    width: 100%;
    padding-top: 1.5rem;

    &__horizontal {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &__default {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            img {
                width: 4px;
                height: 8px;
            }

            &__show {
                position: relative;
                cursor: pointer;
                transition: all .3s ease;

                .text-wrap {
                    padding-bottom: 0.25rem;
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;

                    .icon-wrap {
                        margin: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        border: 1px solid rgba(0, 0, 0, .24);
                        transition: all .15s ease;
                    }

                    span {
                        font-size: 14px;
                        line-height: 19px;
                        letter-spacing: -0.01em;
                        color: #767676;
                        font-weight: normal;
                    }

                    &:hover {

                        .icon-wrap {
                            border-color: rgba(0, 0, 0, .48);
                        }
                    }
                }

                ol {
                    opacity: 0;
                    transition: all .3s ease;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    z-index: 99999;
                    background-color: #ffffff;
                    border: 1px solid rgba(0, 0, 0, .24);
                    border-radius: 0.5rem;

                    li {
                        padding: 0.5rem;
                        width: 132px;
                        transition: all .3s ease;

                        span {
                            font-size: 13px;
                            line-height: 19px;
                            letter-spacing: -0.01em;
                            color: #767676;
                            transition: all .3s ease;
                        }

                        &:hover {
                            background: rgba(0, 0, 0, .04);

                            span {
                                font-weight: bold;
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}

main {
    padding-top: 1.5rem;
    padding-bottom: 4.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .side-nav-bar {
        flex: 2;
        padding-right: 3rem;

        .title {

            h1 {
                font-size: 30px;
                line-height: 40px;
                letter-spacing: -0.01em;
            }
        }

        &__col-container {
            padding-top: 1.5rem;

            ol {
                display: flex;
                flex-direction: column;
                justify-self: flex-start;
                gap: 0.5rem;

                li {
                    width: 100%;
                    cursor: pointer;

                    span {
                        font-size: 14px;
                        line-height: 22px;
                        letter-spacing: -0.01em;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    section {
        flex: 8;
        display: flex;
        flex-direction: column;

        .ad-banner {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 1000px;
            position: relative;

            &__container {
                width: 100%;
                border-radius: 1rem;
                overflow: hidden;

                &__horizontal {
                    width: 100%;
                    display: flex;
                    align-items: center;

                    li {
                        width: 100%;

                        img {
                            width: 1000px;
                            object-fit: cover;
                        }
                    }
                }
            }

            &__tab-info {
                width: 100%;

                ol {
                    display: flex;
                    align-items: center;

                    li {
                        flex: 1;
                        text-align: center;
                        padding: 0.5rem 0.25rem;
                        border-bottom: 2px solid rgba(0, 0, 0, .18);
                        cursor: pointer;
                        transition: all .45s ease;

                        span {
                            font-size: 14px;
                            line-height: 22px;
                            letter-spacing: -0.01em;
                            font-weight: bold;
                        }

                        &.active {
                            border-bottom: 2px solid rgba(0,0,0,.48);
                        }
                    }
                }
            }

            .left,
            .right {
                position: absolute;
                z-index: 99999;
                width: 44px;
                height: 44px;
                background-position: center;
                background-repeat: no-repeat;
                background-color: rgba(0, 0, 0, 0.3);
                background-size: 44px 44px;
                transition: opacity 0.23s;
                border-radius: 100%;
                z-index: 2;
                box-sizing: border-box;
                border: none;
                color: #ffffff;
                font-size: 19px;
                cursor: pointer;

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .left {
                left: 11px;
                top: 44%;
            }

            .right {
                right: 11px;
                top: 44%;
            }
        }
    }
}