@import "./mixin";

.recommend-gnb {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    width: 100%;
    padding: 5rem 2.5rem 0 2.5rem;
    box-sizing: border-box;

    li {
        cursor: pointer;

        p {
            margin-top: 0.5rem;
            font-size: 14px;
            color: #595959;
            line-height: 22px;
            letter-spacing: -0.01em;
            font-weight: bold;
        }
    }
}

@include sm {
    .recommend-gnb {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2.1rem;
        padding-top: 0;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-wrap: balance;
            width: 22%;
        }
    }
}