@import "./mixin";
@import "./variables";

.search-section {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
    position: relative;

    &__container {
        position: relative;
        width: 100%;
        max-width: 941px;
        margin: 0 auto;
        height: 3rem;
        border: 1px solid #5055B1;
        border-radius: 0.5rem;
        padding: 0.5rem;

        &__wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__select {
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 0.5rem;
                cursor: pointer;

                .text {
                    font-size: 14px;
                    color: #000000;
                }
            }

            &__input {
                flex: 1;
                height: 100%;
                display: flex;
                align-items: center;

                input {
                    height: 100%;
                    width: 100%;
                    outline: none;
                    border: none;
                    font-size: 14px;
                    color: #000000;
                    font-family: inherit;
                }
            }

            &__button {
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }

    &__nav-links {
        padding-top: 1.5rem;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icon-wrap {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, .15);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all .3s ease-out;
            font-size: 1.5rem;
        }

        &__wrapper {
            flex: 1;
            padding-left: 1rem;
            display: flex;
            align-items: center;

            ol {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                li {
                    
                    button {
                        cursor: pointer;
                        border: none;
                        background-color: transparent;
                        padding: 0px 0.5rem;
                        color: #000000;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: -0.01em;
                    }
                }
            }
        }

        .right-banner {
            width: max-content;
            height: max-content;
            display: flex;
            align-items: center;

            &__img-wrap {
                width: 100px;
                height: 44px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            span {
                font-size: 14px;
                font-weight: bold;
                color: #5055B1;
                letter-spacing: -1px;
                margin-left: 0.5rem;
            }
        }
    }

    .all-categories {
        z-index: 99999;
        position: absolute;
        top: 100%;
        width: 1198px;
        height: max-content;
        border-radius: 1rem;
        background-color: #ffffff;
        box-shadow: 0 3px 12px 0 rgba(0,0,0,0.15);
        overflow: hidden;
        box-sizing: border-box;
        border: 1px solid rgba(0,0,0,.24);

        &__select {
            width: 100%;

            .ui-tab {
                width: 100%;
                display: flex;
                align-items: center;

                li {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    padding: 1rem 0;
                    background-color: #F2F2F2;
                    color: $font-gray;

                    &.active {
                        background-color: #ffffff;
                        color: $font-dark;

                        span {
                            font-weight: bold;
                        }
                    }

                    span {
                        font-size: 15px;
                        line-height: 23px;
                        letter-spacing: -0.01em;
                        font-weight: 500;
                    }
                }
            }
        }

        &__parent-category {
            width: 100%;
            padding-top: 0.5rem;

            ul {
                display: flex;
                align-items: center;
                padding: 0 40px;
                padding-bottom: 0.5rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);

                li {
                    padding-right: 1.25rem;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    span {
                        color: $font-gray;
                        font-size: 14px;
                        font-weight: 900;
                        line-height: 22px;
                        letter-spacing: -0.01em;

                        &.active {
                            font-weight: 900;
                            color: $font-purple;
                        }
                    }

                    .active-fill {
                        position: absolute;
                        height: 1px;
                        width: 100%;
                        background-color: $font-purple;
                        bottom: -9px;
                    }
                }
            }
        }

        &__book-category {
            padding: 20px 40px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .sub-category-list {
                flex: 1;
                display: flex;
                flex-direction: row;
                justify-content: start;
                flex-wrap: wrap;

                li {
                    width: 33%;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    padding: 0.5rem 0;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    transition: all .3s ease;

                    span {
                        padding-left: 0.5rem;
                        font-size: 13px;
                        line-height: 19px;
                        letter-spacing: -0.01em;
                        font-weight: 400;
                        font-weight: 700;
                    }

                    .sub-category-list__icon-wrap {
                        width: 19px;
                        height: 19px;
                        border: 1px solid rgba(0, 0, 0, 0.12);
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 13px;
                        color: $font-gray;
                    }

                    &:hover {
                        background-color: rgba(0,0,0,.08);
                    }
                }
            }

            .ad-box {
                width: 160px;

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}

.fixed-search-section {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 9999999;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.24);

    &__wrapper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 0.75rem 0px;

        .icon-wrap {
            transition: all .3s ease;
            width: 44px;
            height: 44px;
            background-color: #FFFFFF;
            border: 1px solid rgba(0,0,0,.24);
            border-radius: 50%;
            color: $font-dark;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.3rem;
            cursor: pointer;
        }

        .home-nav__logo.link.fixed {
            margin-left: 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
                object-fit: cover;
            }

            h1 {
                font-size: 1rem;
            }
        }

        form {
            width: 44%;
            display: flex;
            align-items: center;
            margin-left: 1.5rem;
            border: 1px solid $font-purple;
            border-radius: 1rem;
            padding: 0px 0.5rem;
        }

        .user-button-wrap {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

    .all-categories {
        z-index: 99999;
        position: absolute;
        left: 360px;
        top: 100%;
        width: 1198px;
        height: max-content;
        border-radius: 1rem;
        background-color: #ffffff;
        box-shadow: 0 3px 12px 0 rgba(0,0,0,0.15);
        overflow: hidden;
        box-sizing: border-box;
        border: 1px solid rgba(0,0,0,.24);

        &__select {
            width: 100%;

            .ui-tab {
                width: 100%;
                display: flex;
                align-items: center;

                li {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    padding: 1rem 0;
                    background-color: #F2F2F2;
                    color: $font-gray;

                    &.active {
                        background-color: #ffffff;
                        color: $font-dark;

                        span {
                            font-weight: bold;
                        }
                    }

                    span {
                        font-size: 15px;
                        line-height: 23px;
                        letter-spacing: -0.01em;
                        font-weight: 500;
                    }
                }
            }
        }

        &__parent-category {
            width: 100%;
            padding-top: 0.5rem;

            ul {
                display: flex;
                align-items: center;
                padding: 0 40px;
                padding-bottom: 0.5rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);

                li {
                    padding-right: 1.25rem;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    span {
                        color: $font-gray;
                        font-size: 14px;
                        font-weight: 900;
                        line-height: 22px;
                        letter-spacing: -0.01em;

                        &.active {
                            font-weight: 900;
                            color: $font-purple;
                        }
                    }

                    .active-fill {
                        position: absolute;
                        height: 1px;
                        width: 100%;
                        background-color: $font-purple;
                        bottom: -9px;
                    }
                }
            }
        }

        &__book-category {
            padding: 20px 40px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .sub-category-list {
                flex: 1;
                display: flex;
                flex-direction: row;
                justify-content: start;
                flex-wrap: wrap;

                li {
                    width: 33%;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    padding: 0.5rem 0;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    transition: all .3s ease;

                    span {
                        padding-left: 0.5rem;
                        font-size: 13px;
                        line-height: 19px;
                        letter-spacing: -0.01em;
                        font-weight: 400;
                        font-weight: 700;
                    }

                    .sub-category-list__icon-wrap {
                        width: 19px;
                        height: 19px;
                        border: 1px solid rgba(0, 0, 0, 0.12);
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 13px;
                        color: $font-gray;
                    }

                    &:hover {
                        background-color: rgba(0,0,0,.08);
                    }
                }
            }

            .ad-box {
                width: 160px;

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}

.popout {
    position: absolute;
    top: 4.1rem;
    left: -7px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
    width: 100%;
    height: max-content;
    max-width: 130px;
    border-radius: 0.5rem;

    &.home {
        background-color: white;
    }

    &.fixed {
        top: 3.9rem;
        left: 33.3rem;
        padding: 0;
    }

    &.footer {
        top: -7.5rem;
        left: 0;
        padding: 0;
        border-top: none;

        ul {
            width: 200px;
            background-color: white;
            padding: 0;
            overflow: hidden;

            li {
                width: 200px;
            }
        }
    }

    @keyframes fade-in-closeUp-animation {
        0% {
            transform: translateY(12.5%);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes fade-out-closeUp-animation {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(12.5%);
        }
    }

    @keyframes fade-in-dropdown-animation {
        0% {
            transform: translateY(-12.5%);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes fade-out-dropdown-animation {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-12.5%);
        }
    }

    &__items {
        width: 100%;
        border-radius: 0.5rem;
        cursor: pointer;
        box-shadow: 0 3px 12px 0 rgba(0,0,0,.15);

        &.fixed {
            box-shadow: none;
            border: 1px solid rgba(0,0,0,.24);
            background-color: #ffffff;
        }

        &.fade-in-dropdown {
            animation: fade-in-dropdown-animation .15s ease;
        }

        &.fade-out-dropdown {
            animation: fade-out-dropdown-animation .15s ease;
        }

        &.fade-in-closeUp {
            animation: fade-in-closeUp-animation .15s ease;
        }

        &.fade-out-closeUp {
            animation: fade-out-closeUp-animation .15s ease;
        }

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 0.5rem 0;
            font-size: 13.9px;
            color: #595959;
            font-weight: bold;
            transition: all .15s ease;

            &:hover {
                background-color: #DDDDDD;
                color: #222222;
            }
        }
    }
}

@include sm {
    .search-section {
        margin: 0;
        width: 100%;
        padding: 1rem 0;

        &__nav-links {
            padding-top: 4.5rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .icon-wrap {
                display: none;
            }

            &__wrapper {
                padding: 0px;

                ol {
                    gap: 1rem;
                    flex-wrap: wrap;
                    justify-content: center;

                    li {
                        width: 20%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        button {
                            font-size: 16px;
                            text-wrap: balance;
                            padding: 0;
                        }
                    }
                }
            }

            .right-banner {
                display: none;
            }
        }
    }

    .popout {
        max-width: 100%;
    }

    .home-nav__user__session__button {
        padding: 0;
        margin-right: 0.5rem;

        &__wrapper {
            padding: 0.5rem;
        }
    }

    .home-nav__logo.link.fixed {
        display: none !important;
    }

    .icon-wrap {
        margin-left: 0.5rem;
    }
}

@include md {
    .search-section {
        padding: 1rem 1.5rem;
        width: 100%;
        margin-left: 4px;
    }

    .home-nav__user__session__button {
        padding: 0;
        margin-right: 1rem;

        &__wrapper {
            padding: 0.5rem;
        }
    }

    .icon-wrap {
        margin-left: 1rem;
    }
}

@include lg {
    .search-section {
        padding: 1rem 1.5rem;
        width: 100%;
        margin-left: 4px;

        &__nav-links {
            width: 100%;
            max-width: 1024px;
        }
    }

    .home-nav__user__session__button {
        padding: 0;
        margin-right: 1rem;

        &__wrapper {
            padding: 0.5rem;
        }
    }

    .icon-wrap {
        margin-left: 1rem;
    }
}

@include xl {
    .search-section {
        padding: 1rem 1.5rem;
        width: 100%;
        margin-left: 4px;

        &__nav-links {
            width: 100%;
            max-width: 1200px;
        }
    }

    .home-nav__user__session__button {
        padding: 0;
        margin-right: 1rem;

        &__wrapper {
            padding: 0.5rem;
        }
    }

    .icon-wrap {
        margin-left: 1rem;
    }
}