@import "./mixin";

.search-section {
    width: 100%;
    max-width: 941px;
    margin: 1rem auto;
    margin-bottom: 1.5rem;

    &__container {
        position: relative;
        width: 100%;
        height: 3rem;
        border: 1px solid #5055B1;
        border-radius: 0.5rem;
        padding: 0.5rem;

        &__wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__select {
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 0.5rem;
                cursor: pointer;

                .text {
                    font-size: 14px;
                    color: #000000;
                }
            }

            &__input {
                flex: 1;
                height: 100%;
                display: flex;
                align-items: center;

                input {
                    height: 100%;
                    width: 100%;
                    outline: none;
                    border: none;
                    font-size: 1.1rem;
                }
            }

            &__button {
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }
}

.popout {
    position: absolute;
    top: 4.1rem;
    left: -7px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
    width: 100%;
    height: max-content;
    max-width: 130px;

    @keyframes fade-in-dropdown-animation {
        0% {
            transform: translateY(-25%);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes fade-out-dropdown-animation {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-25%);
        }
    }

    &__items {
        width: 100%;
        border-radius: 0.5rem;
        cursor: pointer;
        box-shadow: 0 3px 12px 0 rgba(0,0,0,.15);

        &.fade-in-dropdown {
            animation: fade-in-dropdown-animation .3s ease;
        }

        &.fade-out-dropdown {
            animation: fade-out-dropdown-animation .3s ease;
        }

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 0.5rem 0;
            font-size: 13.9px;
            color: #595959;
            font-weight: bold;
            transition: all .15s ease;

            &:hover {
                background-color: #DDDDDD;
                color: #222222;
            }
        }
    }
}

@include sm {
    .search-section {
        margin: 0;
        padding: 1rem 1.5rem;
        width: calc(100% - 56px);
    }

    .popout {
        max-width: 100%;
    }
}

@include md {
    .search-section {
        padding: 1rem 1.5rem;
        width: calc(100% - 86px);
        margin-left: 4px;
    }
}